* {
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    background-color: gray;
    padding: 40px;
}

label {
    visibility: hidden;
    transition: transform, .5s ease;
}

input:focus+label {
    visibility: visible;
    transform: translateY(2px);
}

div {
    display: flex;
    justify-content: space-between;
}


.imazhi {
    width: 30px;
    animation: loading .5s linear infinite;

}

@keyframes loading {
    100% {
        transform: rotate(360deg);
    }
}