.p1 {
    text-transform: uppercase;
    text-decoration: 5px underline red;
    font-weight: bold;

}

.orem {
    font-weight: bold;
}

.p2 {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: 5px underline red;
    font-size: 50px;

}

.L {
    font-weight: bold;

}